<!DOCTYPE>
<html>
    <head>

    </head>
    <body>
        <h1>Hello, {{request.session.user_name}}!</h1>
        {% for user in myusers %}
            {% if user.name == request.session.user_name %}
            <p>User: {{user.name}}</p>
            {% endif %}
        {% endfor %}
        <h2>My Wishlist</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Added By</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
            {% for item in myitems %}
            <tr>
                <td><a href="{%url 'wishlist_stuff:show' id=item.id %}">{{item.item_name}}</a></td>
                <td>{{item.added_by}}</td>
                <td>{{item.created_at}}</td>
                {% if item.added_by == item.owner %}
                <td><a href="{%url 'wishlist_stuff:destroy' id=item.id %}">Delete</a></td>
                {% endif %}
                {% if item.added_by != item.owner %}
                <td><a href="{%url 'wishlist_stuff:remove' id=item.id item_name=item.item_name added_by=item.added_by %}">Remove from my list</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <h2>Other Users' Wishlist</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Added By</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
            {% for item in othersitems %}
            <tr>
                <td><a href="{%url 'wishlist_stuff:show' id=item.id %}">{{item.item_name}}</a></td>
                <td>{{item.added_by}}</td>
                <td>{{item.created_at}}</td>
                <td><a href="{%url 'wishlist_stuff:add_to_my_list' item_name=item.item_name added_by=item.added_by%}">Add to my list</a></td>
            </tr>
            {% endfor %}
        </table>
        <p><a href="{%url 'wishlist_stuff:create' %}">Add Item</a></p>
        <p><form action="{%url 'login_stuff:my_logout' %}"  method='post'>
            {% csrf_token %}
            <input type="submit" name="logout" value="Logout">
        </form></p>
    </body>
</html>
